<img id="adImg" width={{.width}} height={{.height}}  />

{{range .AD.implTrackingUrls}}
<img src="{{.}}"/>
{{end}}

<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript" >
function initAd() {
	var clkUrl = {{.clickUrl}};
	var imgUrls = {{.AD.imgUrls}}
	
	var imgDom = document.getElementById("adImg");
	var len = imgUrls.length;
	if (len > 0) {
		imgDom.onclick = function(){
			
			{{range .AD.clkTrackingUrls}}
				jQuery.ajax({{.}})
			{{end}}
			//window.location.href = clkUrl;
		}
		imgDom.src = imgUrls[0];
	}
}

window.onload =initAd;
</script>